@tailwind base;
@tailwind components;
@tailwind utilities;

.contenir-56 {
    max-width: 1440px;
    padding: 0px 20px;
    margin: auto;
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 17px;
    grid-row-gap: 24px;
}

.parent-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}